{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        {% if user.is_authenticated %}
            <div class="card text-center">
                <div class="card-header bg-success text-white">
                    <h3>Успешный вход!</h3>
                </div>
                <div class="card-body">
                    <h1 class="display-4">Здравствуйте, <span class="text-primary">{{ user.username }}!</span></h1>
                    <p class="lead mt-4">Вы успешно вошли в систему.</p>
                    
                    <div class="row mt-5">
                        <div class="col-md-6">
                            <a href="{% url 'profile' %}" class="btn btn-primary btn-lg w-100">
                                 Личный кабинет
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="card text-center">
                <div class="card-header bg-primary text-white">
                    <h3> Добро пожаловать!</h3>
                </div>
                <div class="card-body">
                    <h2 class="mb-4">Для доступа требуется авторизация</h2>
                    
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}